.content-trip{
  margin: 10px 0px !important;
}

.content-trip.border-trip{
  border: 1px solid #ccc;
}

.content-trip .content-detail{
  padding: 5px 5px 5px 10px;
  display: flex;
}

.content-trip .content-detail .info .title{
  font-size: 1.2em;
  font-weight: 600;
}

.content-trip .content-detail .info .status{
  font-size: 1em;
  padding-left: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.content-trip .content-detail .info .status.confirmed{
  color: theme("colors.primaryGreen");
}

.content-trip .content-detail .info .status.unconfirmed{
  color: red;
}