@tailwind base;
@tailwind components;
@tailwind utilities;

.singleTrip {
  display: flex;
}

.singleTrip .header .title {
  display: flex;
  color: theme('colors.primaryGreen');
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-start;
}

.singleTrip .menu {
  display: flex;
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-end;
}

.singleTrip .tripData {
  margin: 10px 0px
}

.singleTrip .tripData .data{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.singleTrip .tripData .data .title{
  font-weight: 500;
  padding-right: 4px;
}

.singleTrip .tripData .status{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}