@tailwind base;
@tailwind components;
@tailwind utilities;

.multiTrip {
  display: flex;
}

.multiTrip .header .title {
  display: flex;
  color: theme('colors.primaryGreen');
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-start;
}

.multiTrip .menu {
  display: flex;
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-end;
}

.multiTrip .tripData {
  margin: 10px 0px
}

.multiTrip .tripData .data{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.multiTrip .tripData .data .title{
  font-weight: 500;
  padding-right: 4px;
}

.multiTrip .tripData .status{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.multiTrip .dot {
  height: 15px;
  width: 15px;
  background-color: theme('colors.primaryGreen');
  border-radius: 50%;
  display: inline-block;
}