.autocomplete-custom-item,
.autocomplete-custom-option {
  margin: 5px;
  text-transform: capitalize;
}

.disabled {
  color: rgba(0,0,0,.5)
}

.disabled:hover {
  pointer-events: none;
}

.autocomplete-custom-item:hover,
.autocomplete-custom-option:hover{
  cursor: pointer;
  
}