@tailwind base;
@tailwind components;
@tailwind utilities;

.content .content-header{
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.content .content-info {
  font-weight: 500;
  padding: 5px 0px;
}