.root {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.homeContainer{
  display: flex;
  margin: 10px 5px !important;
}

#root {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}