.root {
  height: calc(100% - 100px);
    display: flex;
    padding-bottom: 100px;
}

.homeContainer{
  display: flex;
  margin: 10px 5px !important;
}

#root {
  position: relative;
  min-height: 100vh;
}