@tailwind base;
@tailwind components;
@tailwind utilities;

.multiTrip {
  display: flex;
}

.multiTrip .header .title {
  display: flex;
  color: theme('colors.primaryGreen');
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-start;
}

.multiTrip .menu {
  display: flex;
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-end;
}

.multiTrip .tripData {
  margin: 10px 0px
}

.multiTrip .tripData .data{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.multiTrip .tripData .data .title{
  font-weight: 500;
  padding-right: 4px;
}

.multiTrip .tripData .status{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.multiTrip .dot {
  height: 15px;
  width: 15px;
  background-color: theme('colors.primaryGreen');
  border-radius: 50%;
  display: inline-block;
}

.multiTrip .tripItem .content{
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 7px;
}

.multiTrip .tripItem .item-border{
  border-left: 2px solid theme('colors.primaryGreen');
}

.multiTrip .tripItem .add-destination{
  color: theme('colors.primaryOrange');
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.multiTrip .tripItem .add-destination svg{
  margin-left: 5px;
}

.multiTrip .tripItem .header .icon {
  display: flex;
  align-items: center; 
}

.multiTrip .tripItem .header .title{
  padding-left: 10px;
  font-size: 1.1em;
}