@tailwind base;
@tailwind components;
@tailwind utilities;

.multiTrip {
  display: flex;
}

.multiTrip .header .title {
  display: flex;
  color: theme('colors.primaryGreen');
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-start;
}

.multiTrip .menu {
  display: flex;
  font-weight: 500;
  font-size: 1.2em;
  justify-content: flex-end;
}

.multiTrip .tripData {
  margin: 10px 0px
}

.multiTrip .tripData .data{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.multiTrip .tripData .data .title{
  font-weight: 500;
  padding-right: 4px;
}

.multiTrip .tripData .status{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.multiTrip .dot {
  height: 15px;
  width: 15px;
  background-color: theme('colors.primaryGreen');
  border-radius: 50%;
  display: inline-block;
}

/* .multiTrip .tripItem .content{
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 7px;
}

.multiTrip .tripItem .item-border{
  border-left: 2px solid theme('colors.primaryGreen');
}

.multiTrip .tripItem .content .add-place-item {
  display: flex;
  justify-content: flex-end;
}

.multiTrip .tripItem .header .icon {
  display: flex;
  align-items: center; 
}

.multiTrip .tripItem .header .title{
  padding-left: 10px;
  font-size: 1.1em;
}

.multiTrip .tripItem .content .content-header{
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.multiTrip .tripItem .content .content-info {
  font-weight: 500;
  padding: 5px 0px;
}

.multiTrip .tripItem .content .content-trip{
  margin: 10px 0px;
}

.multiTrip .tripItem .content .content-trip.border-trip{
  border: 1px solid #ccc;
}

.multiTrip .tripItem .content .content-trip .content-detail{
  padding: 5px 5px 5px 10px;
  display: flex;
}

.multiTrip .tripItem .content .content-trip .content-detail .info .title{
  font-size: 1.2em;
  font-weight: 600;
}

.multiTrip .tripItem .content .content-trip .content-detail .info .status{
  font-size: 1em;
  padding-left: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.multiTrip .tripItem .content .content-trip .content-detail .info .status.confirmed{
  color: theme("colors.primaryGreen");
}

.multiTrip .tripItem .content .content-trip .content-detail .info .status.unconfirmed{
  color: red;
} */